@import "./../config/globals.scss";

.todo-container {
  background: $c-white;
  box-shadow: 0px $box-shadow1_todo-container $box-shadow1_todo-container rgba(0, 0, 0, 0.2);
  position: relative;
  display: block;
  min-height: $minh_todo-container;
  &::after,
  &::before {
    content: '';
    background: $c-white;
    box-shadow: 0px $box-shadow1_todo-container $box-shadow1_todo-container rgba(0, 0, 0, 0.2);
    position: absolute;
    top:100%;
    z-index: -1;
  }
  &::after {
    height: $h_todo-container-after;
    left: $s_todo-container-after;
    right: $s_todo-container-after;
  }
  &::before {
    height: $h_todo-container-before;
    left: $s_todo-container-before;
    right: $s_todo-container-before;
  }

  &.__empty {
    min-height: 0;
    &::before,
    &::after {
      height: 0;
    }
  }

  &.__empty .todo-bottom,
  &.__empty .todo-items{
    display: none;
  }

  &.__empty .todo-add_select-all {
    visibility: hidden;
  }

}
