.todo-items {
  position: relative;
  padding-bottom: 40px;
}
 .todo-items::after {
   content: '';
   border-bottom: 1px solid #e5e5e5;
   background: none;
   position: absolute;
   bottom: 40px;
   width: 100%;
 }
  .todo-item{
    cursor: pointer;
    position: relative;
    min-height: 64px;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
    display: flex;
  }
    .todo-item:hover {
      background: #f9f9f9;
    }
      .todo-item:hover .todo-item_close {
        visibility: visible;
      }
    .todo-item_ready-mark-w{
      float: left;
      align-self: center;
      order: 1;
      position: relative;
      width: 60px;
      height: 60px;
    }
      .todo-item_ready-mark {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      .todo-item_ready-mark-icon {
        position: absolute;
        top:50%;
        left: 50%;
        margin: -18px -18px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid #e5e5e5;
      }
        .todo-item ~ .__ready .todo-item_ready-mark-icon {
          border: 1px solid #5dc1af;
          background: url('../../img/icons/completed.png') no-repeat center center;
        }
    .todo-item_close {
      cursor: pointer;
      visibility: hidden;
      float: right;
      align-self: flex-end;
      order: 3;
      position: relative;
      width: 42px;
      height: 60px;
      border: 0;
      background: none;
      outline: none;
      display: inline;
    }
      .todo-item_close_icon {
        background: url('../../img/icons/close.png') no-repeat 0 0;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 18px;
        height: 18px;
        margin: -9px -9px;
      }
    .todo-item_text {
      align-self: center;
      order: 2;
      width: 100%;
      overflow: hidden;
      font-size: 24px;
      color: rgba(102, 102, 102 , 1);
      outline: none;
    }
      .todo-item ~ .__ready .todo-item_text {
        text-decoration: line-through;
        color: rgba(204, 204, 204, 1);
      }
