.todo-container {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  display: block;
  min-height: 400px;
}
  .todo-container::after,
  .todo-container::before {
    content: '';
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top:100%;
    z-index: -1;
  }
    .todo-container::after {
      height: 5px;
      left:2px;
      right:2px;
    }
    .todo-container::before {
      height: 10px;
      left: 4px;
      right: 4px;
    }
