$c-white: #ffffff;
$c-grey-white: #f9f9f9;
$c-grey-dark: #666666;
$c-grey: #cccccc;
$c-grey-item-border: #e5e5e5;
$c-grey-filter-font: #888888;
$c-grey-filter-border: #ebdfdf;
$c-green-success: #5dc1af;
$c-grey-background: #f5f5f5;
