$w_todo-add_select-all: 64px;
$h_todo-add_select-all: 64px;
$w_todo-add_select-all_icon: 24px;
$h_todo-add_select-all_icon: 12px;
$bt_todo-items: 1px;
$minh_todo-bottom: 40px;
$p_todo-bottom_items: 12px;
$br_todo-bottom_items-filter: 2px;
$b_todo-bottom_items-filter: 1px;
$minh_todo-container: 400px;
$box-shadow1_todo-container: 2px;
$box-shadow2_todo-container: 4px;
$h_todo-container-after: 5px;
$s_todo-container-after: 2px;
$h_todo-container-before: 10px;
$s_todo-container-before: 4px;
$pb_todo-items: 40px;
$minh_todo-item: 60px;
$w_todo-item-ready-mark: 60px;
$h_todo-item-ready-mark: 60px;
$w_todo-item-ready-mark-icon: 36px;
$h_todo-item-ready-mark-icon: 36px;
$b_todo-item-ready-mark-icon: 1px;
$w_todo-item_close: 42px;
$h_todo-item_close: 60px;
$w_todo-item_close-icon: 18px;
$h_todo-item_close-icon: 18px;
$minw_main: 280px;
$maxw_main: 560px;
$p_main: 20px;
