$w_todo-add_select-all_icon: 24px;
$h_todo-add_select-all_icon: 12px;
$p_todo-actionbar_items: 12px;
$minh_todo-container: 400px;
$minw_main: 280px;
$maxw_main: 560px;
$w_todo-item-ready-mark-icon: 36px;
$h_todo-item-ready-mark-icon: 36px;
$w_todo-item_close-icon: 18px;
$h_todo-item_close-icon: 18px;
